extends layout

block content
  h1= 'Add A Book!'
  div.container.col-md-10
    form(action="/books", method="post")
      input.form-control(type="text" name="title", placeholder="Book Title")
      input.form-control(type="text" name="authors[]", placeholder="Author name")
      input.form-control(type="text" name="authors[]", placeholder="Author name")
      input.form-control(type="text" name="authors[]", placeholder="Author name")
        //- for genre in genres
        //-   option(value=genre.id)= genre.title
      input(type="submit", value="Submit your book!")
